name: Build

on:
  push:
  pull_request:

env:
  RAPIDWRIGHT_VERSION: v2021.2.1-beta

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2

      - uses: gradle/wrapper-validation-action@v1.0.4

      - name: Setup JDK 1.11
        uses: actions/setup-java@v2
        with:
          distribution: 'temurin'
          java-version: '11'
          cache: 'gradle'

      - name: Setup Python 3.5
        uses: actions/setup-python@v2
        with:
          python-version: 3.5

      - name: Cache Jars & Data
        id: cache-rapidwright
        uses: actions/cache@v2
        with:
          path: |
              data
          key: rapidwright-clouddata-v2-${{ env.RAPIDWRIGHT_VERSION }}

      - name: Install Python Dependencies
        run: |
          pip install pytest python/

      - name: Compile
        run: ./gradlew assemble

      - name: Test
        run: ./gradlew test

      - name: Archive Java Test Report
        uses: actions/upload-artifact@v2
        if: matrix.os == 'ubuntu-latest'
        with:
          name: Java Test Report
          path: build/reports/tests/testJava

      - name: Upload Test Results
        if: matrix.os == 'ubuntu-latest'
        uses: actions/upload-artifact@v2
        with:
          name: Unit Test Results
          path: |
            build/test-results/**/*.xml

      - name: Terminate Gradle to allow caching
        run: ./gradlew --stop

