name: Test RapidWright Wrapper

on:
  push:
  pull_request:

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2

      - name: Setup JDK 1.11
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '11'
          cache: 'gradle'

      - name: Update Jars
        run: ./gradlew updateJars

      - name: Compile
        run: ./gradlew compileJava

      - name: Test RapidWright Wrapper
        run: bin/rapidwright

      - name: List RapidWright Apps
        run: bin/rapidwright --list-apps

      - name: Check Class Main Execution
        run: bin/rapidwright com.xilinx.rapidwright.rwroute.RWRoute

      - name: Check Jython Command Execution
        run: bin/rapidwright Jython -c "print(Device.AWS_F1)"

      - name: Check PWD
        run: |
             mkdir -p sub/dir/ectory
             cd sub/dir/ectory
             ${{ github.workspace }}/bin/rapidwright Jython -c "import sys, os; sys.exit(0 if os.getcwd() == sys.argv[1] else 1)" $(pwd)

      - name: Terminate Gradle to allow caching
        run: ./gradlew --stop

